@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my hobby page going over my love for music! On the Tutoring Rates Page above, you can also calculate the pricing for drum lessons.</h1>
    <br />
    <br />
    <h2>My top 3 Artists and Why:</h2>
    <br />
    <br />

    <h3>Jacob Collier</h3>
    <br />
    <img src="~/img/JacobCollier.jpg" />
    <br />
    <br />
    <p>
       This British musician is the first ever to win a Grammy for each of his first three albumns, and up to this date, he has won six (his newest being from this year).
       That is a good enough reason to name him as one of the greatest moder-day musicians, but I have many reasons why I love his music so much. Collier's sound is unique,
       but also evolving over time. He composes in many styles of music, including pop, jazz, soul, orchestral, and folk.
       He has perfect pitch as well, so he can perform amazing reworkings of already-popular songs live.
       Jacob Collier is composed of pure creativity, and his brain never seems to stop churning out ideas.
   </p>
    <p><b>Recommended Songs:</b> "Little Blue", "Time Alone With You", & "Moon River"</p>
    <br />

    <h3>Tool</h3>
    <br />
    <img src="~/img/TOOL.jpg" />
    <br />
    <br />
    <p>
        Tool has been my number-one artist on my Spotify Wrapped two years in a row.
        They have been around since the 90s, and are greatly respected in the Rock/Metal scene.
        They have four Grammy Awards to their name, and even though most of the members are creeping into their 60s, they still tour.
        The reason I love them so much is because of their creativity with odd time signatures, polyrhythms, and trippy sound.
        They fall into the subgenre of progressive metal, and they also have their own unique sound that makes them stand out from their peers.
        The four-person group has created some of the most insane-sounding, headbanging-inducing songs to date.
        Their drummer, Danny Carey, is my favorite drummer of all time, and is the backbone of Tool's pulse.
        He makes the impossible look easy, and he is, in my opinion, one of the greatest musicians of all time.
    </p>
    <p><b>Recommended Songs:</b> "Right In Two", "Wings for Marie (Pt 1)" & "10,000 Days (Wings Pt 2)" (You have to listen to these together to get the most out of them), & "Lateralus"</p>
    <br />

    <h3>Linkin Park</h3>
    <br />
    <img src="~/img/LinkinPark.jpg" />
    <br />
    <br />
    <p>
        This is the band I have listened to the most throughout my entire life.
        I have been listening to them since I was around 8 years old.
        They have two Grammy Awards to their name, and they are highly respected in the Rock/Metal scenes as well.
        Chester Bennington, in my opinion, is one of the most talented singers of all time.
        His range was abnormal, with him being able to go higher than most other singers, and he had a unique sounding rasp and a high durability that few others can match.
        His death sent a shockwave of grief through the music world, and his name, along with his band's name, will have an undying legacy.
    </p>
    <p><b>Recommended Songs:</b> "Crawling", "Waiting For The End", & "Breaking The Habit"</p>
    <br />
    <br />
    <br />
    <p>Music tutoring rates <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Rates">HERE</a></p>
</div>
